@media (max-width: 768px){
   .header h1{ 
      font-size: 3.2rem;
   }

   .header .subtitle{
      font-size: 1.6rem;
      text-align: center;
   }

   .card-header{
      font-size: 1.6rem;
   }

   .code-grid{
         flex-direction: column;
   }

   .code-card{
      width: 100%;
   }


   .form-group .btn-magic{
      font-size: 1.6rem
   }
}